#Config file
config.js

#IDEA Webstorm
.idea

#GitHub .gitignore for NodeJS
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules

public/js/vendor/
public/css/vendor/
public/js/jquery.qtip.*
public/js/foundation.*
public/js/jquery.stickytableheaders.*

public/js/lovschema.*
public/css/jquery.qtip.*
public/css/lovschema.min.css