<div class="row">
  <table id="lovschemaCalendar" ls-sticky-table>
    <thead>
    <tr>
      <th>Dag</th><th>Tid</th><th x-ng-repeat="user in events.users">{{user.display_name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr class="weekrow" x-ng-repeat-start="hour in events.events" x-ng-if="hour.datetime | lsNewWeek"><th colspan="{{2+events.users.length}}">{{ hour.datetime | lsWeek }}</th></tr>
    <tr class="monthrow" x-ng-if="hour.datetime | lsNewMonth"><th colspan="{{2+events.users.length}}">{{ hour.datetime | lsMonth }}</th></tr>
    <tr x-ng-class="{endday: (hour.datetime | lsEndDay)}" x-ng-repeat-end>
      <td>{{ hour.datetime | lsDate }}</td>
      <td>{{ hour.datetime | lsTime }}</td>
      <td x-ng-class="{free: hour.free }" x-ng-repeat="user in events.users">
        <div x-ng-if="hour.users[user.username]" ls-qtip-mouse="hour.users[user.username]"></div>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th>Dag</th><th>Tid</th><th x-ng-repeat="user in events.users">{{user.display_name}}</th>
    </tr>
    </tfoot>
  </table>
</div>