<div class="row">
  <div class="large-12 columns"><h1>Kalender</h1></div>
</div>
<div class="row">
  <table id="lovschemaCalendar" ls-sticky-table>
    <thead>
    <tr>
      <th>Dag</th><th>Tid</th><th x-ng-repeat="user in events.users">{{user}}</th>
    </tr>
    </thead>
    <tbody>
    <tr x-ng-class="{endday: (hour.datetime | lsEndday)}" x-ng-if="!(hour.datetime | lsMorning)" x-ng-repeat="hour in events.events">
      <td>{{ hour.datetime | lsDate }}</td>
      <td>{{ hour.datetime | lsTime }}</td>
      <td x-ng-class="{free: hour.free }" x-ng-repeat="user in events.users">
        <div x-ng-if="hour.users[user]">
          <div>
            <div x-ng-repeat="event in hour.users[user]" x-ng-if="event.name">{{ event.name }}</div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th>Dag</th><th>Tid</th><th x-ng-repeat="user in events.users">{{user}}</th>
    </tr>
    </tfoot>
  </table>
</div>